.vscode
a.out
/3ºAno/Semestre_Impar/Sistemas_Distribuidos/Aula1/nbproject/private/
/3ºAno/Semestre_Impar/Sistemas_Distribuidos/Aula1/build/
/3ºAno/Semestre_Impar/Sistemas_Distribuidos/Aula1/dist/
/3ºAno/Semestre_Impar/SD/Aula1/build/
/3ºAno/Semestre_Impar/SD/Aula1/dist/
/3ºAno/Semestre_Impar/SD/Aula1/nbproject/private/
/3ºAno/Semestre_Impar/SD/sd02sockets/nbproject/private/
/3ºAno/Semestre_Impar/SD/sd02sockets/dist/
/3ºAno/Semestre_Impar/SD/sd02sockets/build/
/3ºAno/Semestre_Impar/SD/sd03veiculos2/nbproject/private/
/3ºAno/Semestre_Impar/SD/sd03veiculos2/build/
/3ºAno/Semestre_Impar/SD/sd03veiculos2/dist/
/3ºAno/Semestre_Impar/SD/paral01/build/
/3ºAno/Semestre_Impar/SD/paral01/dist/
/3ºAno/Semestre_Impar/SD/sd04sconc/nbproject/private/
/3ºAno/Semestre_Impar/SD/sd04sconc/dist/
/3ºAno/Semestre_Impar/SD/sd04sconc/build/
/3ºAno/Semestre_Impar/SD/aulaRMInb_INICIAL/nbproject/private/
/3ºAno/Semestre_Impar/SD/aulaRMInb_INICIAL/dist/
/3ºAno/Semestre_Impar/SD/aulaRMInb_INICIAL/build/
